Outputs
.idea
**/.ipynb_checkpoint**
*.pyc
Buildings/cache
Buildings/__pycache__
Buildings/Data
Buildings/Figures
Industry/Data/UN stats
Industry/Data/mines
Industry/Data/USGS survey
Industry/Data/Archives
Industry/Archives
Data
convert_crs.py